# {{ ansible_managed }}

services:
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=debug
      - TZ=America/Vancouver
      - PORT=5055
    ports:
      - 5055:5055
    volumes:
      - /opt/jellyseerr:/app/config
    restart: unless-stopped
