# {{ ansible_managed }}
[Unit]
Description=Pihole on Docker
Documentation=https://github.com/pi-hole/docker-pi-hole/
Requires=docker.service
After=docker.service

[Service]
Type=simple
User={{ pihole_user }}
Group={{ pihole_group }}
WorkingDirectory=/opt/pihole
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down
Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target

