[Unit]
Description=qBittorrent Command Line Client
After=network.target wg-quick@wg0
Requires=wg-quick@wg0

[Service]
Type=forking
User={{ qbittorrent_user }}
Group={{ qbittorrent_group }}
UMask=007
ExecStart=/usr/bin/qbittorrent-nox -d --webui-port=8080
Restart=on-failure

[Install]
WantedBy=multi-user.target
